extends layout.pug

block appContent
    h2 new pizza view
    .new-pizza-wrapper   
        h3 Dane pizzy
        form(method='POST' action='/orders/pizza')
            div
                label(for='login') Nazwa:
                input(type='text', placeholder='wpisz nazwe' name='name')
                button.new-size Dodaj nowy rozmiar
                
                
                script. 
                    document.querySelector(".new-size").addEventListener("click", (e) => {
                        e.preventDefault();
                        let fieldsetsQuantity = document.querySelectorAll(".sizes-container > fieldset").length - 1;
                        var fieldset = document.createElement("fieldset");
                        fieldset.innerHTML = `  <input type="text" name="size_price[${fieldsetsQuantity}][name]" />
                                                <input type="number" name="size_price[${fieldsetsQuantity}][size]" />
                                                <input type="number" name="size_price[${fieldsetsQuantity}][price]" />`;

                        document.querySelector(".sizes-container").appendChild(fieldset);
                    });
                    
                    //TODO form moze byc na zewnatrz, nie trzeba w srodku dodwawac - poczyrtac  
            div.sizes-container
                .sizes
                    input(type="text" name="size_price[0][name]")
                    input(type="number" name="size_price[0][size]") 
                    input(type="number" name="size_price[0][price]")
                .sizes
                    input(type="text" name="size_price[1][name]")
                    input(type="number" name="size_price[1][size]") 
                    input(type="number" name="size_price[1][price]")
                .sizes
                    input(type="text" name="size_price[2][name]")
                    input(type="number" name="size_price[2][size]") 
                    input(type="number" name="size_price[2][price]")


            //- div
            //-     label(for='password') Dodatki:
            //-     input(type='text', placeholder='wpisz email' name='extras')
            
            -let skladniki=["mozzarella", "szynka", "pieczarki", "salami", "boczek",  "pepperoni", "kiełbasa", "wołowina", "kurczak", "ser górski", "ser gorgonzola", "ser camembert", "ser parmezan", "tuńczyk", "kabanos", "oliwki czarne", "oliwki zielone", "kukurydza", "ogórek", "pomidor", "cebula", "fasola", "jalapeno", "ananas", "papryka", "grube ciasto" ]
            
            div.components-container
                each val, index in skladniki
                    
                        input(
                            type='checkbox'
                            name=`component`
                            id=`component${index}`
                            value=`${val}`)
                        label(for=`component${index}`)= `${val}`
                
            //- -let variables = ["jeden", "dwa", "trzy", "cztery"]
            //- select(name="select_x")
            //-     each variable, index in variables
            //-         option(value=`${variable}`)= `${variable} ++++ ${index}`

            button(type='submit') Dodaj pizze
