extends layout.pug

block appContent
    h2 new pizza view
    .new-pizza-wrapper   
        h3 Dane pizzy
        form(method='POST' action='/orders/pizza')
            div
                label(for='login') Nazwa:
                input(type='text', placeholder='wpisz nazwe' name='name')
                
                div.sizes-container
                    .sizes
                        input(type="text" name="name" required)
                        input(type="number" name="size" min="5" step="1" required) 
                        input(type="number" name="price" min="0" step="0.01" required)
                        button.new-size Dodaj nowy rozmiar

            div
                ul.sizes-result
                    li 1
                    li 2
                    li 3
                ul.sizes-result
                    li 1
                    li 2
                    li 3
            //- div
            //-     label(for='password') Dodatki:
            //-     input(type='text', placeholder='wpisz email' name='extras')
            
            -let skladniki=["mozzarella", "szynka", "pieczarki", "salami", "boczek",  "pepperoni", "kiełbasa", "wołowina", "kurczak", "ser górski", "ser gorgonzola", "ser camembert", "ser parmezan", "tuńczyk", "kabanos", "oliwki czarne", "oliwki zielone", "kukurydza", "ogórek", "pomidor", "cebula", "fasola", "jalapeno", "ananas", "papryka", "grube ciasto" ]
            
            div.components-container
                each val, index in skladniki
                    
                        input(
                            type='checkbox'
                            name=`component`
                            id=`component${index}`
                            value=`${val}`)
                        label(for=`component${index}`)= `${val}`
                
            //- -let variables = ["jeden", "dwa", "trzy", "cztery"]
            //- select(name="select_x")
            //-     each variable, index in variables
            //-         option(value=`${variable}`)= `${variable} ++++ ${index}`

            button(type='submit') Dodaj pizze

            script(src='/js/new_pizza.js')
